.board {
    display: flex;

    div:first-child .step {
        margin-left: 20px;
    }

    div:last-child .step {
        margin-right: 20px;
    }

    .step {
        margin: 0 10px;

        .highlight {
            background: #eaeaea;
            border-radius: 5px;
            padding: 2px 3px;
        }

        h3 {
            margin: 0;
            padding: 0 10px;
            font-weight: 600;
        }

        div.add-task {
            color: #666;
            border-radius: 3px;
            padding: 5px 15px;
            font-weight: 500;
            border: 1px dashed #aaa;
            box-shadow: none;
        }

        // https://coolors.co/7a8594-988196-e97758-ffbc30-7bdd88
        .step-header {
            padding: 5px 5px;
            border-radius: 3px;
            margin-bottom: 10px;
            color: #fff;
        }

        &.backlog {
            .step-header {
                background: bottom left 30% no-repeat, linear-gradient(65deg, #A96AD4, #B27AD9);
            }
        }

        &.next-up {
            .step-header {
                background: bottom left 30% no-repeat, linear-gradient(65deg, #F98C5B, #FA976B);
            }
        }

        &.in-progress {
            .step-header {
                background: bottom left 30% no-repeat, linear-gradient(65deg, #5592F4, #73a6f8);
            }

            .card {
                font-weight: 600;
            }
        }

        &.done {
            .step-header {
                background: bottom left 30% no-repeat, linear-gradient(65deg, #7bdd88, #8ce497);
            }

            svg {
                color: #7bdd88;
            }

            span {
                text-decoration: line-through;
                color: #888;
            }
        }
    }
}