@import "./variables.scss";
@import "./sidebar.scss";
@import "./header.scss";
@import "./board.scss";

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #eaeaea;
  color: #424242;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

img {
  display: block;
  margin: 50px auto;
}

.column {
  flex: 1;
}

.body {
  display: flex;
}
