$sidebar-padding: 20px;
$sidebar-color: #c5cad0;

.sidebar {
    width: 250px;
    background: #3f4e64;
    height: 100vh;
    color: $sidebar-color;
    box-sizing: border-box;

    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.notification {
            font-weight: 600 !important;
            color: #fff;

            span {
                background-color: #5592F4;
                padding: 1px 7px;
                border-radius: 5px;
                font-size: 0.7em;
                margin-left: 4px;
            }
        }
    }

    .sidebar-header {
        display: flex;
        padding: 10px $sidebar-padding;
        margin-bottom: 20px;
        align-items: center;

        h3 {
            color: #fff;
            margin: 0;
            font-weight: 600;
            max-width: 95%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }

    .avatar {
        margin-right: 10px;

        img {
            margin: 0;
            border-radius: 30px;
            height: 40px;
            width: 40px;
            border: 2px solid #616e80;
        }
    }

    .sidebar-body {
        .category {
            margin-bottom: 20px;

            a {
                margin: 0;
                color: $sidebar-color;
                text-decoration: none;
            }

            p {
                font-size: 1.15em;
                margin: 0;
                padding: 2px $sidebar-padding;
                font-weight: 500;

                &:hover {
                    background: #4e6079;
                }
            }

            em {
                color: #7989a0;
                font-size: 0.9em;
            }

            .category-header {
                font-weight: 600;
                color: #fff;
                padding: 0 $sidebar-padding;
                margin-bottom: 3px;

                svg {
                    margin-left: 5px;
                    color: #c5cad0;
                }
            }

            svg {
                font-size: 0.8em;
                margin-right: 5px;
            }
        }

        .fa-check-circle {
            color: #7bdd88;
        }
    }
}